{% extends "base.html" %}

{% block content %}
<div class="container_datalog">
    <h1>Mosquito Data Log</h1>
    <button onclick="clearDatabase()" class="button_cleardatabase">CLEAR DATABASE</button>
    <button onclick="downloadCSV()" class="button_default">DOWNLOAD DATA</button>
    <table>
        <tr>
            <th>Date and Time</th>
            <th>Temperature</th>
            <th>FAA Count</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[1] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<script src="/static/scripts.js"></script>
{% endblock %}